<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adjara.adjaranet" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <supports-screens
        android:resizeable="true"
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
    <compatible-screens>
        <!-- some normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <!-- all large size screens -->
        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
        <!-- all xlarge size screens -->
        <screen android:screenSize="xlarge" android:screenDensity="ldpi" />
        <screen android:screenSize="xlarge" android:screenDensity="mdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="hdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="xhdpi" />
    </compatible-screens>

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <provider android:authorities="com.facebook.app.FacebookContentProvider478200162351948"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity
            android:name="com.adjara.adjaranet.MainActivity"
            android:label="adjaranet"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adjara.adjaranet.MoviePageActivity"
            android:label="კინო"
            android:parentActivityName="com.adjara.adjaranet.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.adjaranet.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.adjaranet.FullScreenMovie"
            android:label="@string/title_activity_full_screen_movie"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.adjara.adjaranet.settingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.adjara.adjaranet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.adjaranet.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.adjaranet.serie_page_activity"
            android:label="@string/title_activity_serie_page_activity"
            android:parentActivityName=".SeriesActiviry"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.adjaranet.SeriesActiviry" />
        </activity>
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <receiver android:name="com.adjara.adjaranet.broadcastreceivers.MyBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.adjara.adjaranet.broadcastreceivers.CheckEpisodesBroadcastReceiver" >
        </receiver>

        <service
            android:name="com.adjara.adjaranet.services.StartUpService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.adjara.adjaranet.services.CheckNewEpisodes"
            android:enabled="true"
            android:exported="true" >
        </service>

        <meta-data
            android:name="DATABASE"
            android:value="adjaranet.db" />
        <meta-data
            android:name="VERSION"
            android:value="7" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.adjara.adjaranet" />

        <activity
            android:name="com.adjara.adjaranet.GeoMoviesCollecitonActivity"
            android:label="@string/title_activity_geo_movies_colleciton"
            android:parentActivityName="com.adjara.adjaranet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.adjaranet.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.adjaranet.NewsCollectionActivity"
            android:label="@string/title_activity_news_collection"
            android:parentActivityName="com.adjara.adjaranet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.adjaranet.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.adjaranet.HistoryPageActivity"
            android:label="@string/title_activity_history_page"
            android:parentActivityName="com.adjara.adjaranet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.adjaranet.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.adjaranet.CollectionMoviesActivity"
            android:label="@string/title_activity_collection_movies"
            android:parentActivityName="com.adjara.adjaranet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.adjaranet.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.adjaranet.WatchLaterActivity"
            android:label="@string/title_activity_watch_later"
            android:parentActivityName="com.adjara.adjaranet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.adjaranet.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.adjaranet.ActorMoviesActivity"
            android:label="@string/title_activity_actor_movies"
            android:parentActivityName="com.adjara.adjaranet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.adjaranet.MainActivity" />
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    </application>

</manifest>
