<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adjara.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <provider android:authorities="com.facebook.app.FacebookContentProvider478200162351948"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity
            android:name="com.adjara.app.MainActivity"
            android:label="adjaranet"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adjara.app.MoviePageActivity"
            android:label="კინო"
            android:parentActivityName="com.adjara.app.MainActivity"
            android:configChanges="orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.app.FullScreenMovie"
            android:label="@string/title_activity_full_screen_movie"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.adjara.app.FullScreenSerie"
            android:label="@string/title_activity_full_screen_movie"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.adjara.app.settingsActivity"
            android:label="@string/title_activity_settings"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.adjara.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.app.serie_page_activity"
            android:label="@string/title_activity_serie_page_activity"
            android:parentActivityName=".SeriesActiviry"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.app.SeriesActiviry" />
        </activity>
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <receiver android:name="com.adjara.app.broadcastreceivers.MyBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.adjara.app.broadcastreceivers.CheckEpisodesBroadcastReceiver" >
        </receiver>

        <service
            android:name="com.adjara.app.services.StartUpService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.adjara.app.services.CheckNewEpisodes"
            android:enabled="true"
            android:exported="true" >
        </service>

        <meta-data
            android:name="DATABASE"
            android:value="adjaranet.db" />
        <meta-data
            android:name="VERSION"
            android:value="7" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.adjara.app" />

        <activity
            android:name="com.adjara.app.GeoMoviesCollecitonActivity"
            android:label="@string/title_activity_geo_movies_colleciton"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.adjara.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.app.NewsCollectionActivity"
            android:label="@string/title_activity_news_collection"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.adjara.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.app.HistoryPageActivity"
            android:label="@string/title_activity_history_page"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.adjara.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.app.CollectionMoviesActivity"
            android:label="@string/title_activity_collection_movies"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.adjara.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.app.WatchLaterActivity"
            android:label="@string/title_activity_watch_later"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.adjara.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.app.MainActivity" />
        </activity>
        <activity
            android:name="com.adjara.app.ActorMoviesActivity"
            android:label="@string/title_activity_actor_movies"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.adjara.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adjara.app.MainActivity" />
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    </application>

</manifest>
